 apiVersion: extensions/v1beta1
 kind: Deployment
 metadata:
   name: flask-app-deployment
 spec:
   replicas: 1
   selector:
     matchLabels:
       app: flasknode
   template:
     metadata:
       labels:
         app: flasknode
     spec:
       containers:
       - name: flaskapp
         image: rameshthangaraj/hello
         imagePullPolicy: Always
         ports:
         - containerPort: 5000